*, body {
    margin: 0;
    padding: 0;
}

.container {

    height: 100vh;
    background: url('../assets/bg-2.avif') center no-repeat;

    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-size: 100% 100%;
    overflow-x: hidden;
}


.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.field {
    z-index: 1;
    max-width: 600px;
    width: 700px;
    padding: 15px;
    margin-top: 10px;

}

.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
}

.MuiInputBase-root {
    color: #424242;
}


.MuiInput-underline:after {
    border-bottom-color: #2196F3;
}

.list-container {
    z-index: 0;
    margin-top: 10px;
}


.data {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 300px;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.no-data {
    color: red;
    font-size: 20px;
    font-weight: 700;
    animation: slideAnimation 5s linear infinite;
    margin-top: 50px;
}

.chip-div {
    display: flex;
    gap: 5px,
}


@media (min-width:200px) and (max-width:500px) {

    .field {
        z-index: 1;
        width: 250px;
        padding: 15px;
        margin-top: 20px;
    }

    .chip-div {
        width: 200px;
    }
}